.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1;
  /* background-color: white; */
  background-color: hsl(0, 0%, 98%);

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.header {
  /* background-color: whitesmoke; */
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 0 1.5rem;
}

.brand-apix {
  font-size: 2.25rem;
  font-weight: bolder;
  color: black;
  text-shadow: rgb(255, 255, 255) 1px 2px 2px;
  cursor: pointer;
}

.brand-apix>span {
  color: gold;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  border: 1px solid #e6e6e6;
  box-shadow: rgb(255, 255, 255) 0 1px 6px 0;
  color: #4d4d4d;
  padding: 0.8em;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: white;
  transition: 0.5s;
}

.icon:last-child {
  margin-right: 0;
}

.icon:hover {
  background-color: gold;
  color: white;
}

/* ----------NAVBAR--------- */
.nav {
  background-color: navy;
  z-index: 9999;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  /* flex-flow: row wrap; */
  align-items: center;
  margin: 0 1.5rem;
}

.menu_item:nth-child(4) {
  flex: 1 1 auto;
}

.menu_item:last-child {
  margin-right: 0;
}

.nav-link {
  display: inline-block;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}

.nav-link:hover {
  visibility: visible;
  color: black;
  background: #fdbe34;
}


.nav-list__item-link---active {
  background: gold;
}


/* ------SLIDER------- */

.img {
  max-height: 100%;
  min-width: 100%;
}

.slider__container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.slider__container .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: all ease 1s;
}

.slider__control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__control-item {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  padding: 15px;
}

.slider__control-item:hover {
  opacity: .7;
  cursor: pointer;
}

.next {
  margin-right: 25px;
  transform: rotate(-45deg);
}

.prev {
  margin-left: 25px;
  transform: rotate(135deg);
}

.slider__dots {
  width: 100%;
  position: absolute;
  align-self: flex-end;
  display: inline-flex;
  justify-content: center;
  bottom: 0;
}

.slider__dots-item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  margin: 25px 10px;
}

.slider__dots-item:hover {
  opacity: .7;
  cursor: pointer;
}

.slider__dots-item.active {
  background-color: gold;
}

/* fade off */
.slider__container .content.fade-off {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  transition: all 1s ease;
}

.slider__container .slider-item.fade-off {
  position: static;
}

.sl_text {
  position: absolute;
  top: 40%;
  left: 50%;
  text-shadow: #757575 1px 3px 3px;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  /* min-width: 60%; */
}

.sl_text>span {
  padding: 1rem;
  display: block;
  background-color: #e2e2e277;
}


.sl1 {
  top: 30%;
  left: 50%;
}

.sl2 {
  top: 35%;
  left: 50%;
}

/* SECTION  about*/
.section-content {
  margin: 0 1.5rem;
}

.about {
  display: flex;
  flex-flow: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ab-text {
  margin-left: 3rem;
  align-self: center;
  text-align: center;
}

.heading.border-bottom {
  position: relative;
  padding-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: rgb(24, 7, 44);
}

.heading:before {
  bottom: 0;
  position: absolute;
  content: "";
  width: 10rem;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #f4b214;
}

p {
  margin: 1rem 0;
  line-height: 1.6;

  color: #718090;
  font-size: 1rem;
}

.section-description {
  background-color: #dddddd;
  padding-top: 1.5rem;
}

.box-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  margin: 0 1.5rem;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px hsl(229, 6%, 66%);
  padding: 1.5rem;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  background-color: white;

}

.box:last-child {
  margin-right: 0;
}

.red {
  border-top: 3px solid red;
}

.navy {
  border-top: 3px solid navy;
}

.gold {
  border-top: 3px solid gold;
}


/* galery */

.section-gallery {
  padding: 1.5rem;
  background: #f3ffeb;
  background-size: cover;
}

.galeria-title {
  margin: 0 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(24, 7, 44);
}

.galeria-title > i {
  margin-right: 1rem;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: 0 1.5rem;
  box-shadow: #f2f5e5 0 0 2px 1px;
}

/* FOOTER */

.footer {
  background-color: #0c141e;
 
}

.footer-content {
  margin: 0 1.5rem;
}

.logo_apix>a>img {
  margin: 0 auto;
}

.footer-social-media {
  font-family: sans-serif;
  font-weight: 700;
}

.footer-icon {
  /* border: 1px solid #07070e; */
  /* box-shadow: #16162e 0 1px 6px 0; */
  color: rgb(252, 250, 191);

  text-shadow: #181324 1px 1px 2px;
  /* border-radius: 0.5em; */
  margin-right: 1rem;
  /* background-color: #0b121b; */
  transition: 0.5s;
  font-size: 2rem;
}

.ic-text {
  text-shadow: #000000 0px 1px 1px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  color: rgb(122, 51, 78);
}


.wrapper-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contact-el{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  
}

.icon-color {
  color: #1c852e;
}


.wrapper-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d14836;
  margin-bottom: 1.5rem;
}

.footer-icon:last-child {
  margin-right: 0;
}


.footer-icon:hover {
  /* background-color: #080d13; */
  color: rgb(93, 136, 216);
}

.ic-text:hover{
  color: gold;
}

.footer-icon:hover{
  color: gold;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #181324;
  font-size: 0.8rem;
}

.copyright>span{
margin-right: 0.5rem;
}

.copyright>span:last-child {
  margin-right: 0;
}

.copyright>a{
  color: gold;
}

.i{
  margin: 0 0.5rem;
}



