@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7ap9ro');
  src:  url('fonts/icomoon.eot?7ap9ro#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7ap9ro') format('truetype'),
    url('fonts/icomoon.woff?7ap9ro') format('woff'),
    url('fonts/icomoon.svg?7ap9ro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook3:before {
  content: "\e900";
}
.icon-share1:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-phone1:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-zoomout:before {
  content: "\e905";
}
.icon-zoomin:before {
  content: "\e906";
}
.icon-info1:before {
  content: "\e907";
}
.icon-envelope1:before {
  content: "\e908";
}
.icon-mail-envelope-closed:before {
  content: "\e909";
}
.icon-mail-envelope-closed1:before {
  content: "\e90a";
}
.icon-mail-envelope-closed2:before {
  content: "\e90b";
}
.icon-mail-envelope-closed3:before {
  content: "\e90c";
}
.icon-social-twitter:before {
  content: "\e90d";
}
.icon-social-facebook:before {
  content: "\e90e";
}
.icon-social-tumbler:before {
  content: "\e90f";
}
.icon-th-large-outline:before {
  content: "\e910";
}
.icon-th-small-outline:before {
  content: "\e911";
}
.icon-th-menu-outline:before {
  content: "\e912";
}
.icon-home-outline:before {
  content: "\e913";
}
.icon-mail1:before {
  content: "\e914";
}
.icon-call:before {
  content: "\e915";
}
.icon-call_end:before {
  content: "\e916";
}
.icon-phone2:before {
  content: "\e917";
}
.icon-ring_volume:before {
  content: "\e918";
}
.icon-mail_outline:before {
  content: "\e919";
}
.icon-add_call:before {
  content: "\e91a";
}
.icon-water_damage:before {
  content: "\e91b";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter1:before {
  content: "\f099";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-skype1:before {
  content: "\f17e";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-chevron-small-down:before {
  content: "\e91c";
}
.icon-chevron-small-left:before {
  content: "\e91d";
}
.icon-chevron-small-right:before {
  content: "\e91e";
}
.icon-chevron-small-up:before {
  content: "\e91f";
}
.icon-chevron-thin-down:before {
  content: "\e920";
}
.icon-chevron-thin-left:before {
  content: "\e921";
}
.icon-chevron-thin-right:before {
  content: "\e922";
}
.icon-chevron-thin-up:before {
  content: "\e923";
}
.icon-chevron-up:before {
  content: "\e924";
}
.icon-chevron-with-circle-down:before {
  content: "\e925";
}
.icon-chevron-with-circle-left:before {
  content: "\e926";
}
.icon-chevron-with-circle-right:before {
  content: "\e927";
}
.icon-chevron-with-circle-up:before {
  content: "\e928";
}
.icon-dots-three-horizontal:before {
  content: "\e929";
}
.icon-dots-three-vertical:before {
  content: "\e92a";
}
.icon-flow-branch:before {
  content: "\e92b";
}
.icon-flow-cascade:before {
  content: "\e92c";
}
.icon-flow-line:before {
  content: "\e92d";
}
.icon-flow-parallel:before {
  content: "\e92e";
}
.icon-flow-tree:before {
  content: "\e92f";
}
.icon-trash:before {
  content: "\e930";
}
.icon-check1:before {
  content: "\e931";
}
.icon-circle-with-cross:before {
  content: "\e932";
}
.icon-circle-with-minus:before {
  content: "\e933";
}
.icon-cog1:before {
  content: "\e934";
}
.icon-email:before {
  content: "\e935";
}
.icon-image-inverted:before {
  content: "\e936";
}
.icon-image1:before {
  content: "\e937";
}
.icon-magnifying-glass:before {
  content: "\e938";
}
.icon-mail5:before {
  content: "\e939";
}
.icon-menu1:before {
  content: "\e93a";
}
.icon-old-phone:before {
  content: "\e93b";
}
.icon-paper-plane:before {
  content: "\e93c";
}
.icon-phone3:before {
  content: "\e93d";
}
.icon-pin:before {
  content: "\e93e";
}
.icon-reply:before {
  content: "\e93f";
}
.icon-share3:before {
  content: "\e940";
}
.icon-sports-club:before {
  content: "\e941";
}
.icon-squared-cross:before {
  content: "\e942";
}
.icon-squared-minus:before {
  content: "\e943";
}
.icon-squared-plus:before {
  content: "\e944";
}
.icon-user1:before {
  content: "\e945";
}
.icon-users:before {
  content: "\e946";
}
.icon-v-card:before {
  content: "\e947";
}
.icon-video:before {
  content: "\e948";
}
.icon-skype-with-circle:before {
  content: "\e949";
}
.icon-skype2:before {
  content: "\e94a";
}
.icon-vk-alternitive:before {
  content: "\e94b";
}
.icon-vk-with-circle:before {
  content: "\e94c";
}
.icon-vk1:before {
  content: "\e94d";
}
.icon-facebook-with-circle:before {
  content: "\e94e";
}
.icon-facebook4:before {
  content: "\e94f";
}
.icon-instagram-with-circle:before {
  content: "\e950";
}
.icon-instagram1:before {
  content: "\e951";
}
.icon-tumblr-with-circle:before {
  content: "\e952";
}
.icon-tumblr1:before {
  content: "\e953";
}
.icon-twitter-with-circle:before {
  content: "\e954";
}
.icon-twitter2:before {
  content: "\e955";
}
.icon-youtube-with-circle:before {
  content: "\e956";
}
.icon-youtube1:before {
  content: "\e957";
}
.icon-envelope2:before {
  content: "\e958";
}
.icon-phone4:before {
  content: "\e959";
}
.icon-home:before {
  content: "\e95a";
}
.icon-home2:before {
  content: "\e95b";
}
.icon-home3:before {
  content: "\e95c";
}
.icon-office:before {
  content: "\e95d";
}
.icon-pencil:before {
  content: "\e95e";
}
.icon-pencil2:before {
  content: "\e95f";
}
.icon-quill:before {
  content: "\e960";
}
.icon-image:before {
  content: "\e961";
}
.icon-images:before {
  content: "\e962";
}
.icon-camera:before {
  content: "\e963";
}
.icon-play:before {
  content: "\e964";
}
.icon-film:before {
  content: "\e965";
}
.icon-file-text:before {
  content: "\e966";
}
.icon-profile:before {
  content: "\e967";
}
.icon-file-text2:before {
  content: "\e968";
}
.icon-file-picture:before {
  content: "\e969";
}
.icon-coin-dollar:before {
  content: "\e96a";
}
.icon-coin-euro:before {
  content: "\e96b";
}
.icon-coin-pound:before {
  content: "\e96c";
}
.icon-coin-yen:before {
  content: "\e96d";
}
.icon-credit-card:before {
  content: "\e96e";
}
.icon-calculator:before {
  content: "\e96f";
}
.icon-phone:before {
  content: "\e970";
}
.icon-phone-hang-up:before {
  content: "\e971";
}
.icon-envelop:before {
  content: "\e972";
}
.icon-clock:before {
  content: "\e973";
}
.icon-clock2:before {
  content: "\e974";
}
.icon-alarm:before {
  content: "\e975";
}
.icon-bell:before {
  content: "\e976";
}
.icon-stopwatch:before {
  content: "\e977";
}
.icon-calendar:before {
  content: "\e978";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-angellist:before {
  content: "\e979";
}
.icon-apple:before {
  content: "\e97a";
  color: #999;
}
.icon-facebook5:before {
  content: "\e97b";
  color: #1877f2;
}
.icon-gmail:before {
  content: "\e97c";
  color: #d14836;
}
.icon-googlehangoutschat:before {
  content: "\e97d";
  color: #00897b;
}
.icon-instagram2:before {
  content: "\e97e";
  color: #e4405f;
}
.icon-mail-dot-ru:before {
  content: "\e97f";
  color: #168de2;
}
.icon-messenger:before {
  content: "\e980";
  color: #00b2ff;
}
.icon-mxlinux:before {
  content: "\e981";
}
.icon-nextdoor:before {
  content: "\e982";
  color: #00b246;
}
.icon-odnoklassniki1:before {
  content: "\e983";
  color: #f4731c;
}
.icon-pinboard:before {
  content: "\e984";
  color: #00f;
}
.icon-skype3:before {
  content: "\e985";
  color: #00aff0;
}
.icon-telegram1:before {
  content: "\e986";
  color: #2ca5e0;
}
.icon-tumblr3:before {
  content: "\e987";
  color: #36465d;
}
.icon-twitter3:before {
  content: "\e988";
  color: #1da1f2;
}
.icon-viber:before {
  content: "\e989";
  color: #665cac;
}
.icon-visa:before {
  content: "\e98a";
  color: #142787;
}
.icon-vk2:before {
  content: "\e98b";
  color: #4680c2;
}
.icon-whatsapp1:before {
  content: "\e98c";
  color: #25d366;
}
.icon-yandex:before {
  content: "\e98d";
  color: #f00;
}
.icon-youtube3:before {
  content: "\e98e";
  color: #f00;
}
